In [3]:
import pandas as pd
import re
import json
import psycopg2

In [6]:
def db_connect():
    conn = psycopg2.connect("dbname='rcdb' user='postgres' host='richcontext.cz5u3bpfaar4.us-east-1.rds.amazonaws.com' password='rc_dumps'")
    return conn

        
def run_select_query(conn,query):
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    cur.close()
    return rows

In [37]:
conn = db_connect()
select_query = """SELECT distinct dataset_name, dataset_alias,'USDA' as data_provider
FROM public.usda_clean_dataset_names_20190913;"""
existing_records = run_select_query(conn,select_query)

In [ ]:
insert_statement = """INSERT INTO public.dataset_names( dataset_name, dataset_alias, dataset_provider)
VALUES {}""".format(",".join(str(i) for i in existing_records))

In [32]:
# insert_statement = """INSERT INTO public.dataset_names( dataset_name, dataset_alias, dataset_provider)
# VALUES {}""".format(existing_records)
insert_statement = """INSERT INTO public.dataset_names( dataset_name, dataset_alias, dataset_provider)
VALUES {}""".format(",".join(str(i) for i in existing_records))


#         conn = db_connect()
#         cursor = conn.cursor()
#         try:
#             cursor.execute(insert_statement)
# insert_statement

In [36]:
conn = db_connect()
cur = conn.cursor()
cur.execute(insert_statement)
conn.commit()

In [18]:
cur = conn.cursor()
ins_query = """INSERT INTO public.dataset_names(
dataset_name, dataset_alias, dataset_provider)
VALUES (?);""".format(existing_records)
ins_query

'INSERT INTO public.dataset_names(\ndataset_name, dataset_alias, dataset_provider)\nVALUES (?);'

In [17]:
cur.executemany("""INSERT INTO public.dataset_names(
dataset_name, dataset_alias, dataset_provider)
VALUES (?);""".format(existing_records))

TypeError: function missing required argument 'vars_list' (pos 2)

In [13]:
insert_statement

'INSERT INTO public.dataset_names(\ndataset_name, dataset_alias, dataset_provider)\nVALUES (?);'

In [ ]:
INSERT INTO public.dataset_names(
dataset_name_id, original_dataset_name, dataset_name, dataset_provider, date_inserted)
VALUES (?, ?, ?, ?, ?);